dash
dash-bootstrap-components
dash-ag-grid
pandas
numpy
plotly
openpyxl
requests
matplotlib
fastapi
uvicorn
python-jose[cryptography]
python-multipart
bcrypt==4.1.3
passlib
python-dotenv
kaleido
reportlab
sqlalchemy
alembic
